*,*:before,*:after{
    box-sizing:border-box;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-image: url("../images/wave.jpg");
    background-color:rgb(21, 21, 80);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    font-size: 10px;
}

.app-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  width: 90vw;
  height: 100vh;
  max-width: 768px;
  max-height: 1024px;
}

.heading {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  color: rgb(21, 21, 80);
  font-style: italic;
}

h1 {
    margin:0;
  }

  .title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
}

hr {
  width: 100%;
  margin:0;
}

.best-times {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(21, 21, 80, .5);
}

ul {
  list-style-type: none;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
}

li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.date-title, .time-title {
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

#date, #time {
  font-size: 1.2em;
  color: white;
  font-weight: bold;
}

.ultimate-goal-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  background-color: rgb(30,144,255, .5);
}

.ultimate-goal-title, .ultimate-goal {
  font-size: 1.7em;
  color: rgb(21, 21, 80);
  font-weight: bold;
}

.main-goal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  width: 100%
}

.goal-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
}

label {
  color: white;
  font-size: 2em;
  font-weight: bold;
}

#ultimate-goal-min, #ultimate-goal-sec {
  width: 2.5em;
  font-size: 3em;
  color: rgb(21, 21, 80);
  border: none;
  border-radius: 15px;
}

button {
  border-radius: 15px;
  font-size: 2em;
  padding: .5em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bold;
  color:white;
  background-color:dodgerblue;
  border: none;
}

button:hover {
  background-color: rgb(21, 21, 80);
  border: .05em dodgerblue solid;
}

.back {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.back-anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e00;
  font-size: 3em;
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 0.6em;
}

.back-anchor:hover {
  background-color: maroon;
  border-top: .05em #e00 solid;
  border-right: .05em #e00 solid;
  border-left: .05em #e00 solid;
}

@media (max-width: 499px) {
  .main-goal-container {
    flex-direction: column;
}
  .goal-container {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

@media (min-width: 500px) {
  body {
      font-size: 12px;
  }

@media (min-width: 768px) {
  body {
      font-size: 13px;
  }
}