*,*:before,*:after{
    box-sizing:border-box;
  }

  body {
    background-image: url("../images/wave.jpg");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.app-container {
    background-color: rgb(255,255,255,0.3);
    min-width: 850px;
    min-height: 1750px;
    flex-direction: column;
    flex-wrap: nowrap;
}

.heading {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: rgb(21, 21, 80);
  font-style: italic;
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}

p {
  font-size: 50px;
  font-weight: bold;
  color:  #fff;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border-bottom: 5px solid rgb(21, 21, 80);
  border-right: 5px solid rgb(21, 21, 80);
  border-left: 5px solid rgb(21, 21, 80);
}

.options:nth-child(1) {
  border-top: 5px solid rgb(21, 21, 80);
}

  ul {
      list-style-type:none;
      padding: 0px;
    }

.toggle {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 50px;
}

.toggle__checkbox {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.00001;
  cursor: pointer;
}

.toggle__switch {
  height: 100%;
  width: 100%;
  border-radius: 130px;
  background-color: #e00;
  box-shadow: inset 0 0 10px  rgb(21, 21, 80);;
  transition: background-color 0.3s linear;
}

.toggle__switch:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.2s linear;
}

.toggle__checkbox:checked + .toggle__switch {
  background-color: yellowgreen;
}

.toggle__checkbox:checked ~ .toggle__switch:before {
  transform: translateX(97px);
}

a {
  text-decoration: none;
  color: white;
}

.back {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(21, 21, 80);
  background-color: #e00;
  height: 150px;
  font-size: 100px;
  font-weight: bold;
}